/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* HEADER */
.site-header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
}

.logo {
    color: white;
    font-weight: bold;
}

.burger {
    font-size: 32px;
    color: white;
    cursor: pointer;
}

/* MENU */
.menu {
    position: absolute;
    top: 70px;
    right: 20px;

    background: rgba(0,0,0,0.9);
    padding: 15px;
    display: none;
    flex-direction: column;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 8px 0;
}

.menu.show {
    display: flex;
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* VIDEO */
.hero video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* OVERLAY */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

/* TEXTE */
.content {
    position: relative;
    z-index: 3;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}