.site-header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 4; /* 🔥 AU-DESSUS DE TOUT */
}

/* BURGER */
.burger {
    font-size: 32px;
    color: white;
    cursor: pointer;

    z-index: 5;
    pointer-events: auto;
}